<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>840149653992-cqc8fcjsaj7mmpn4lteqfq53sqov86es.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.840149653992-cqc8fcjsaj7mmpn4lteqfq53sqov86es</string>
	<key>API_KEY</key>
	<string>AIzaSyDl-sZC-1dVvuEAh4MuUpynw_bynlWcFB0</string>
	<key>GCM_SENDER_ID</key>
	<string>840149653992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>handschu.inClass11</string>
	<key>PROJECT_ID</key>
	<string>inclass11-c0b80</string>
	<key>STORAGE_BUCKET</key>
	<string>inclass11-c0b80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:840149653992:ios:4ac62f3df5d20e46</string>
	<key>DATABASE_URL</key>
	<string>https://inclass11-c0b80.firebaseio.com</string>
</dict>
</plist>
